header {
    height: 80px;
    border: 2px solid gray;
    display: flex;
    justify-content: space-between;
}

h1 {   
    width: 200px;
    font-size: 32px;
    font-weight: bold;
    background-color: seagreen;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.main-container {
    display: flex;
    gap:12px;
    margin-bottom: 12px;
    
}

main {

    
}
article {
    border: 1px solid #222;
    padding: 16px;

  
   
    
}
h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
}

article > h2 {
    background-color: rgb(185, 199, 181);
   }

aside {
    border: 1px solid #222;
    padding: 16px;
 
}

.aside-inner-box {
    background-color: grey;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

input {
    margin-bottom: 8px;
}


footer {
    height: 60px;
    border: 1px solid #222;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(185, 199, 181);
}